[2019-11-06 11:38] bentzibentz opened #1 "json files getting replaced not merged"
## I'm submitting a bug

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

First of all, thanks for this pretty cool translation tool.

The extract command replaces all values a

[2019-11-06 12:04] shaharkazaz commented on #1
@bentzibentz Thanks for your report, we will look into it 👍

[2019-11-06 12:48] NetanelBasal commented on #1
Do you mean with `transloco-keys-manager extract` command? Because it works fine.

[2019-11-06 12:57] bentzibentz commented on #1
i tried both the cli command and the webpack plugin, it always replaces the whole json files and resets the values with something like: Missing value for 'xyz'

[2019-11-06 13:00] NetanelBasal commented on #1
The only issue that I see is that it resets the values.

[2019-11-06 13:04] bentzibentz commented on #1
Right, that's what I wanted to say, sorry if that wasn't clear. Is this the desired behavior? Cause if i add a new component or change something my whole translation values are lost.

[2019-11-06 13:04] NetanelBasal commented on #1
No, I'm fixing it now. I will also add a `--sort` option.

[2019-11-06 13:07] bentzibentz commented on #1
Thanks a lot! Can't wait to use transloco in my new project :thumbsup:

[2019-11-06 13:28] #1 closed

[2019-11-06 17:03] vaceslav opened #2 "Support Inline Loaders"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When the project use [Inline Loaders](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/

[2019-11-06 17:06] NetanelBasal commented on #2
We currently don't support inline loaders. It's on our road map.

[2019-11-08 15:39] vaceslav opened #3 "Support for nested objects"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

HTML  file
<pre><code>
<span>{{'todos.title1' | transloco}}</span>
<span>{{'todos.title2' | transloco}}<

[2019-11-09 16:07] NetanelBasal commented on #3
It's by design.

[2019-11-09 17:02] NetanelBasal commented on #3
We'll consider adding a flat in the next release.

[2019-11-12 20:01] NetanelBasal commented on #3
v1.1.0:

[code]

[2019-11-12 20:01] #3 closed

[2019-11-12 20:02] NetanelBasal commented on #2
v1.1.0:

https://github.com/ngneat/transloco-keys-manager/#inline-loaders

[2019-11-12 20:02] #2 closed

[2019-11-18 10:35] RFMV34 opened #4 "transloco-keys-manager extract Invalid regular expression"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I run transloco-keys-manager extract I get following message:
[code]

And debug log contains:
[cod

[2019-11-18 10:43] shaharkazaz commented on #4
@RFMV34 Hey,
You are using an old node version, this regex is using a feature that is supported from node 10 and above.
To resolve this please upgrade your node version.

I'll add it to the docs 🙂

[2019-11-18 14:31] RFMV34 commented on #4
The upgrade is not possible for me currently, but thanks :)

[2019-11-18 14:31] #4 closed

[2019-11-18 18:09] shoffman-applause opened #5 "Key manager with webpack plugin question"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm trying to use key manager to manage keys within my project with the webpack plugin. I have an engli

[2019-11-19 06:50] NetanelBasal commented on #5
Can you explain what it means, please?

[2019-11-19 12:07] shoffman-applause commented on #5
The first time the server starts up during `ng serve`, the webpack plugin uses the config I pasted above correctly and only updates the english translation file. If I make any other change to the codebase while the angular dev server is running (that would trigger a hot reload), the plugin will ignore the configuration and update every translation file, not just the english one.

Does that help?

[2019-11-19 12:17] shaharkazaz commented on #5
@shoffman-applause Thank you for your report, I'll fix this issue 🙂

[2019-11-19 16:23] mme-private opened #6 "Problem running transloco-keys-manager find on Windows"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After installing tranloco and transloco key manager tried running: npm run i18n:find and got:
<pre>
√ E

[2019-11-19 16:41] mme-private opened #7 "Problem with key extraction, edit.title is extracted as edititle"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After running transloco-keys-manager extract there is wrong key generated.

I have added lazy loading m

[2019-11-19 16:51] mme-private opened #8 "Question about defaultValue configuration option"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Tried to change defaultValue configuration option to generate text for non-existing keys, but could't g

[2019-11-19 18:26] NetanelBasal commented on #7
We'll release a fix in the next release, thanks.

[2019-11-19 18:27] NetanelBasal commented on #8
We'll add this option.

[2019-11-19 18:29] NetanelBasal commented on #6
We verified that it works on windows. Can you please share a repo that reproduces this?

[2019-11-19 18:33] #5 closed

[2019-11-19 19:06] #7 closed

[2019-11-19 19:06] #8 closed

[2019-11-19 19:23] mme-private commented on #6
For me it happens as easy as:

ng new transloco1
	routing - No
	CSS

cd transloco1

ng add @ngneat/transloco
	en, lv
	SSR - No

ng g @ngneat/transloco:keys-manager
	Both

npm run i18n:find

and result is:

[code]

[2019-11-19 19:27] mme-private commented on #6
I think the problem is that passed path in function getScopeAndLangFromFullPath doesn't match with default path for configuration, and after split second element doesn't exist in returned array.

These rows:
[code]

Maybe it is problem with drive M: or something else.

[2019-11-19 19:47] shaharkazaz commented on #5
@shoffman-applause This will be available in v1.2.0 that will be released tomorrow morning 🙂

[2019-11-19 19:47] shaharkazaz commented on #7
@mme-private This will be available in v1.2.0 that will be released tomorrow morning 🙂

[2019-11-19 19:47] shaharkazaz commented on #8
@mme-private This will be available in v1.2.0 that will be released tomorrow morning 🙂

[2019-11-19 20:18] mme-private commented on #6
Tested on different Windows 7 Professional PC with newest Angular-CLI and on C: drive :
[code]
Result is the same:
[code]

[2019-11-19 21:07] #6 closed

[2019-11-20 10:10] mme-private opened #10 "Nested keys and commented out keys generation bug"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

For module:
[code]

And some component template in this module:
[code]
There are extracted keys:
assets

[2019-11-21 17:09] NetanelBasal commented on #10
@mme-private we don't support nested directives with the same name. You can change one of the `let t` variables, and it should work.

Regarding the comments, @shaharkazaz will fix it soon.

[2019-11-24 07:35] #10 closed

[2019-11-24 07:36] shaharkazaz commented on #10
@mme-private comments are fixed in v1.2.1

[2019-11-24 23:06] bilalhaider opened #11 "Keys manager does not extract all keys from ts files"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

A few translation keys from one particular ts service are not being extracted. This file has other keys

[2019-11-25 05:46] shaharkazaz commented on #11
Thanks for the report and the examples, I'll look into it.

[2019-11-25 09:54] #11 closed

[2019-11-25 09:58] shaharkazaz commented on #11
@bilalhaider Fixed in v1.2.2

[2019-12-03 07:19] gernsdorfer opened #12 "Keys Detective does not find extra/missing Keys for Translation Files without a scope"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The keys Detective does not find any extra or missing Keys in a Translation File without scopes

## Exp

[2019-12-03 08:31] #12 closed

[2019-12-17 11:16] asiomido opened #13 "Error: Cannot find module 'fs-extra'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Without karma installed an error occurs when using i18n:extract, i18n:find or webpack plugin:
[code]

#

[2019-12-17 18:37] #13 closed

[2019-12-17 19:04] shaharkazaz commented on #13
@asiomido  Fixed in v1.2.6

[2019-12-23 09:20] aksenovdev opened #14 "Supporting Pug templates"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Keys extracted only from .ts and .html files

## Expected behavior

Keys extracted from files specified

[2019-12-23 12:24] NetanelBasal commented on #14
We'd love to see a PR. It should be straightforward.

[2020-01-03 15:06] andre-gois opened #15 "Extracting from scoped library behaves differently in templates and .ts files"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Running the extraction on a library `transloco-keys-manager extract --unflat -i src/lib` behaves differ

[2020-01-04 16:16] NetanelBasal commented on #15
When using the `translate` method, you should pass the `scope` as the third parameter:

[code]

[2020-01-04 16:16] #15 closed

[2020-01-09 09:24] sidyes opened #17 "Support multiple apps/libs in NX workspace"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

At the moment it is only possible to set one app within the `rootTranslationsPath`. I am using NX with

[2020-01-09 17:10] NetanelBasal commented on #17
Can you explain what do you mean by "to support multiple apps"?

[2020-01-10 05:35] sidyes commented on #17
I thought that `rootTranslationsPath` represents the root path of the main translations and it is only possible to set one path.
I have the following structure in my mono repository:
[code]

Is it possible to handle that case?

[2020-01-10 06:36] NetanelBasal commented on #17
firstApp and secondApp are not related, right?

[2020-01-10 06:39] sidyes commented on #17
No they are completely independent apps.

[2020-01-10 06:40] NetanelBasal commented on #17
In that case, we should provide a `--config` flag where you can pass a different configuration file.

[2020-01-10 06:40] NetanelBasal commented on #17
@shaharkazaz

[2020-01-10 06:42] NetanelBasal commented on #17
For now, you can do it inline:

[code]

[2020-01-10 06:47] sidyes commented on #17
Good point, I will do it like this for now.

[2020-01-10 21:17] adgoncal commented on #17
It would also be nice to have support for `--project` and check `angular.json` for the given project.
For example:

[code]

Then
[code]
would use `apps/first-app/src/assets/i18n` as the `rootTranslationPath`.

[2020-01-13 08:31] #17 closed

[2020-01-13 08:32] shaharkazaz commented on #17
@adgoncal released in v1.3.0, LMK how it works for you.

[2020-01-13 12:36] Japiejo28 opened #19 "Alias in cliOptions must be single character"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In version 1.3.0 the project CLI option is added in cliOptions.js. It has a alias pr ( 2 characters ) b

[2020-01-13 13:29] #19 closed

[2020-01-13 13:32] shaharkazaz commented on #19
@Japiejo28 Should be ok in v1.3.1, can you verify?

[2020-01-13 16:29] adgoncal commented on #17
@shaharkazaz thank you for implementing this feature! However, I am currently unable to test it because it is throwing an error:
[code]

It looks like it was not able to find my angular configuration, which is located in `angular.json`.
https://github.com/ngneat/transloco-keys-manager/blob/000aff53006850ab24fcb663754371a3afe54335/src/helpers/resolveProjectPath.ts#L4

The documentation for `cosmico

[2020-01-13 21:44] shaharkazaz commented on #17
@adgoncal Thanks again for the feedback, can you try 1.3.2? 🙂

[2020-01-14 07:33] Japiejo28 commented on #19
@shaharkazaz  For me it works now thanks.

[2020-01-14 09:14] ronnetzer commented on #19
@shaharkazaz thanks for the quick fix, I'm getting a different error now when trying to use --project flag (the project exists in angular.json and also sourceRoot is defined..)

[code]

this is my transloco.config.js
[code]

[2020-01-14 09:20] shaharkazaz commented on #19
@ronnetzer what version are you using? can you try 1.3.2?

[2020-01-14 09:26] ronnetzer commented on #19
i've used 1.3.1. 1.3.2 seems to work good

[2020-01-14 09:49] ronnetzer opened #20 "Keys detective doesn't show Missing/Extra keys correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When running keys detector on a project/i18n folder I always get the same result that all the keys for

[2020-01-14 10:03] shaharkazaz commented on #20
@ronnetzer can you please run the command with `DEBUG=config` and share the result?

[2020-01-14 10:07] ronnetzer opened #21 "Keys detective run endlessly when pointing to specific i18n file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When using --translations-path flag and pointing to a specific language file, the process runs endlessl

[2020-01-14 10:11] ronnetzer commented on #20
[code]

[2020-01-14 10:19] shaharkazaz commented on #20
@ronnetzer as you can see your `input` and `output` file contain double `src` since they were prefixed with the project's `sourcePath`.
You need to provide the input and output and not use the defaults, try it and let me know 🙂
I'll make it clearer in the docs.

[2020-01-14 10:41] ronnetzer commented on #20
@shaharkazaz That partially solves it, Now missing keys have all the keys that are in the HTML and not in the JSONs but it doesn't include keys that are missing between the JSONs.

Also, it's a little weird that I need to override values in order to make it work correctly, especially if I don't use those features (output in this case). I think that you should handle the extra `src` when prefixing

[2020-01-14 10:58] shaharkazaz commented on #20
@ronnetzer I'm not sure I understand what you mean by "missing keys between JSONs", can you explain?

[2020-01-14 15:21] adgoncal commented on #17
That is perfect! Thank you again!

[2020-01-14 17:07] darkv opened #23 "Unflat files will loose keys on special conditions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Having some translation keys like

- top.middle
- top.middle.last1
- top.middle.last2

will create thre

[2020-01-15 14:34] omardoma opened #24 "Dynamic Keys are not extracted correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Dynamic keys are not extracted correctly

[code]

is extracted like this:

[code]

## Expected behavior

[2020-01-15 15:01] luixolema opened #25 "Detective dosn't detect keys with parentesis simbols"
valores proporcionados I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other
</code></pre>

## Current behavior

When you run the i18n:extract comand the keys with parentesis simbols are not found

Firts than anything: cngratulations on your excelet work

It may be not the best pract

[2020-01-15 15:25] shaharkazaz commented on #21
@ronnetzer translation path points to a directory, I will add a check and fail the process to prevent the loop.

[2020-01-15 15:28] shaharkazaz commented on #23
@darkv this doesn't make sense to me... if you want to support the translations as objects `top.middle` can't wear both hats.

[2020-01-15 17:19] NetanelBasal commented on #25
Add an example, please.

[2020-01-17 18:31] shaharkazaz commented on #25
@luixolema can you please provide an example? 🙂

[2020-01-17 18:40] shaharkazaz commented on #24
@omardoma This is not a bug since this is currently not supported.
I will add support but the comment will have to be inside the structural and not above it like so:
[code]
Also a question about the JSONs you shared, is auth a scope?

[2020-01-18 20:33] omardoma commented on #24
@shaharkazaz Aha, the comment being inside is okay for me and actually is quite intuitive so I believe it would be a great feature.

Auth is a key in the json file, not a scope.

Also please notice that other than that the read feature is not supported at the moment, there is a bug with the extraction in general, note the single quote in ```"'form"``` as well as the single quote in ```"default'"``

[2020-01-21 12:37] darkv commented on #23
Sorry if I was writing too confusing. With the default configuration of transloco the generated translation files will be flat. So having keys like in the example above is no problem as every key will create just one additional line within the translation file(s).

So in the current behavior when switching to unflat files—which is very helpful as this enables collapsing subtrees in most of text ed

[2020-01-21 12:40] darkv commented on #24
@omardoma When adding translation keys via comments you do not use quotes. That's probably why you see them included in your translation files.

[2020-01-21 12:52] omardoma commented on #24
@darkv If that's the case then I guess there is a typo in the README.md that needs to be updated:

<img width="1174" alt="Screen Shot 2020-01-21 at 2 51 39 PM" src="https://user-images.githubusercontent.com/25301162/72806313-9ead3d00-3c5d-11ea-8be1-037585338c67.png">

[2020-01-21 13:35] shaharkazaz commented on #24
@omardoma I already fixed the typo, as @darkv said you don't need the quotes.
It's part of some fixes I'm going to release 🙂

[2020-01-21 13:37] omardoma commented on #24
@shaharkazaz Awesome, thanks for the hard work, keep it up :)

[2020-01-23 14:05] JoeFirebaugh opened #26 "Support default language value as keys in the i18n bundle"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Maybe this is all by design and the direction of Transloco, but with ngx-translate we made the keys the

[2020-02-02 20:00] #21 closed

[2020-02-02 20:04] shaharkazaz commented on #20
@ronnetzer fixed in version 2.0.0

[2020-02-02 20:04] #20 closed

[2020-02-02 20:06] shaharkazaz commented on #24
@omardoma available in version 2.0.0

[2020-02-02 20:06] #24 closed

[2020-02-02 20:08] shaharkazaz commented on #25
@luixolema reopen this with an example if still relevant, try using v2.0.0

[2020-02-02 20:08] #25 closed

[2020-02-03 07:01] #26 closed

[2020-02-03 07:41] shaharkazaz commented on #26
@JoeFirebaugh thanks for the report, released in v2.0.2

[2020-02-03 10:22] omardoma commented on #24
@shaharkazaz Thanks a lot, works great!

[2020-02-03 18:20] shaharkazaz commented on #23
@darkv I think that we will add appropriate information to the documentation. would you like to make the PR?

[2020-02-03 19:55] JoeFirebaugh commented on #26
Thanks!

[2020-03-10 10:01] tomaslaw94 opened #28 "Detect keys from typescript files from extended TranslocoService"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`transloco-keys-manager find` does not detect keys in typescript file unless used specifically by `Tran

[2020-03-14 15:38] shaharkazaz commented on #23
Published in v2.0.3, @darkv great job and thanks for the contribution 🚀

[2020-03-14 15:38] #23 closed

[2020-03-19 07:59] shaharkazaz commented on #28
@tomaslaw94 You are welcome to open a PR for it 🙂

[2020-04-01 14:33] ronnetzer opened #30 "templateExtractor fails when an empty string is passed to transloco pipe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When an empty string is passed to `transloco` pipe, the cli crashes on find command with this error
[co

[2020-04-01 18:28] shaharkazaz commented on #30
@ronnetzer Can you share the part of the templates that failed? just so I could test the fix on what currently fails 🙂

[2020-04-02 08:07] ronnetzer commented on #30
@shaharkazaz Sure,
I was able to reproduce it on an empty component with nothing but
[code]

comment the line with the empty string and it will work

[2020-04-02 08:22] shaharkazaz commented on #30
@ronnetzer Thanks! I'll check it out 🙂

[2020-04-28 13:01] MikeDabrowski opened #31 "Empty defaultValue not respected when extracting keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I wanted to have empty missing translation values so I passed `-d ""`  to extract command. It was ignor

[2020-04-28 16:21] #30 closed

[2020-04-28 16:21] #31 closed

[2020-04-28 16:32] shaharkazaz commented on #30
@ronnetzer fixed in v2.0.5 🙂

[2020-04-28 16:32] shaharkazaz commented on #31
@MikeDabrowski fixed in v2.0.5 🙂

[2020-04-28 20:23] emzet opened #32 "Extract command breaks translation files"
## I'm submitting a...
[code]

## Current behavior
When runing `transloco-keys-manager extract` with this template markup, it outputs message in console and breaks existing translation JSON files.

**Bad**
[code]

**Good** (_no message in console, extract successful_)
[code]

So it depends on some order of element attributes or something else. Maybe issue with any other HTML elements or attributes

[2020-04-28 22:45] shaharkazaz commented on #32
What do you mean by breaking? Can you provide an example?

[2020-04-28 23:45] emzet commented on #32
It removes existing translation keys from files e.g. under `MY_MODULE` group and it outputs message to the console: `The following keys won't be accessible when unflatting the object:` and there is a list of  translation keys, which were removed. It preserves only key `"MY_MODULE": "MY_MODULE"`

_(transloco.config.js setting `defaultValue` is set to  `'{{key}}'`, so there the value is same as key)

[2020-04-29 10:32] #32 closed

[2020-04-29 10:35] shaharkazaz commented on #32
@emzet Can you please verify this is resolved in v2.0.6? 🙂

[2020-04-30 09:06] bpiasecki opened #33 "Deep sorting of keys extractor result"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After extracting keys by webpack plugin only first level keys are sorted in JSON file:

[code]
## Expec

[2020-05-01 09:12] shaharkazaz commented on #33
@bpiasecki Seems to work as expected with both your example and I added some keys in random order and they were sorted alphabetically.
Can you add a reproduction repo so I can further investigate?

[2020-05-04 07:55] bpiasecki commented on #33
@shaharkazaz Did you set 'unflat' option to true in webpack config file? Because i think that it might be a problem. Everything is sorted when this option is set to false.

[2020-05-04 08:03] shaharkazaz commented on #33
@bpiasecki yes I did, if you don't use it there is no depth 😄
I tried several times and it seemed to work, try to create a small reproduction so I can check your use case.

[2020-05-04 13:16] JerryDoubleU opened #34 "Keys Detective's return code for automated validation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`transloco-keys-manager find` always ends with code 0 (no error).

## Expected behavior

It would be us

[2020-05-06 12:22] swayf opened #35 "Autoremove not used keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

First thank you for awersome libs. =) Small question, is it possible to automatically remove unused keys from translation fi

[2020-05-07 07:34] bpiasecki commented on #33
@shaharkazaz I updated keys-manager version and now everything works fine, thanks for help 😄

[2020-05-07 07:41] #33 closed

[2020-05-08 11:41] shaharkazaz commented on #34
@JerryDoubleU I can see that in case you have missing keys and the `addMissingKeys` option is disabled the process will [exit with code 1](https://github.com/ngneat/transloco-keys-manager/blob/master/src/keysDetective/buildTable.ts#L60).
What other cases are you referring to?

[2020-05-10 17:13] TomWieschalla opened #36 "Translations path error since release 2.x.x 'Translations path path provided doesn't exist!'"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

node script
`transloco-keys-manager find --translations-path src/assets/i18n/ --langs de`
 throws
`Tran

[2020-05-11 07:55] JerryDoubleU commented on #34
That sounds like it, thanks!
It'd also be useful to be able to get the info about the 'extra keys' (exit code 2?) to be aware of the extra keys which are no longer used, or have been mistyped.

[2020-05-11 10:28] shaharkazaz commented on #34
would you like to make a PR for it? 🙂

[2020-05-11 17:21] ekselys opened #37 "Inline loader configuration does not generate keys according with scopePathMap path definition"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm trying to make the key manager, according with its docs, to generate lazy modules keys under relate

[2020-05-13 08:20] JerryDoubleU commented on #34
Definitely! I'll do this this week.

[2020-05-13 15:40] shaharkazaz commented on #35
@swayf Thanks!
by auto-remove you mean delete all the extra keys found?

[2020-05-15 07:28] shaharkazaz commented on #36
@TomWieschalla change `src/assets/i18n/` to `assets/i18n/`.
The `sourceRoot` property is prefixing the paths, and if you don't provide a target project or the `angular.json` file is missing, a default `src` is used.

[2020-05-15 09:30] TomWieschalla commented on #36
@shaharkazaz thanks, runs

[2020-05-15 09:57] #36 closed

[2020-05-15 16:27] pedraldo opened #38 "Use keys-manager tools with a built angular project folder passed as input option"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

My team and I develop angular libraries (let's take one as an example and call it **ngLib**) that use T

[2020-05-16 06:01] #37 closed

[2020-05-16 06:02] shaharkazaz commented on #37
@ekselys can you please verify that this is resolved in v2.0.7? 😄

[2020-05-18 08:35] ekselys commented on #37
Thanks, it works now!
Good job!

[2020-05-21 10:21] Dedrus commented on #35
I think he mean this:
You have keys A and B in your file
Your project uses B and C keys
After extractor run final file now is A B C
But we want B C

[2020-05-22 08:48] pedraldo commented on #38
Hi,
I just wanted to let you know that I'm actually trying to develop some kind of solution for this feature request.
I could suggest a PR in the future but my work is still in progress.

At this moment I added modification to handle keys detection used in template (HTML) inside a built angular project folder thanks to the `***.metadata.json` file parsing.
To do that I didn't need to implement ano

[2020-05-26 05:54] shaharkazaz commented on #38
@pedraldo Hi, great to see that you are developing this feature!
just to understand, you are extracting from a built project?

[2020-05-26 07:48] pedraldo commented on #38
@shaharkazaz Yes exactly !
From the result of an angular project (library) built with `ng build —prod` for example.
Do you think this could be an interesting feature (PR) ?
I think I will submit a PR anyway in the future to be able to discuss about this with more details on how it could be developed.

[2020-05-27 07:43] potray opened #40 "Add support for Angular libraries to Keys Detective"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Angular's suggested folder structure is the following:

- Root
  - node_modules
  - projects
    - lib1

[2020-06-04 09:49] MikeDabrowski opened #41 "Feature: support ternary operator in structural directive"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have this in HTML
[code]

And in en.json
[code]
When I run key-manager find I get:
![image](https://u

[2020-06-04 11:05] shaharkazaz commented on #41
@MikeDabrowski why do you have ``?

[2020-06-04 11:08] shaharkazaz commented on #38
@pedraldo why not create the keys from the uncompiled version and just add the file at the end?

[2020-06-04 11:31] MikeDabrowski commented on #41
@shaharkazaz I want to extract the keys below that line, isnt that the way to go ?
Without that comment key manager lists that keys in extra column

[2020-06-04 11:44] shaharkazaz commented on #41
@MikeDabrowski the comment markings are used for [dynamic keys](https://github.com/ngneat/transloco-keys-manager#dynamic-keys), for regular extraction you shouldn't add them.
Can you remove it and LMK what's the current issue?

[2020-06-04 12:05] MikeDabrowski commented on #41
Ok, so I removed the comment, removed  CREATE_COMPANY.ADD_LOGO.CROP_IMAGE and CREATE_COMPANY.ADD_LOGO.UPLOAD from en.json and ran `find`. Here is the result:

[code]
Which tells me that manager could not extract CROP_IMAGE and UPLOAD. Just by adding the comment and reruning `find` i get:
[code]
For me this looks like duplication that may be caused by not prepending the key with read prefix at some

[2020-06-04 12:09] shaharkazaz commented on #41
@MikeDabrowski I'll try to reproduce but I might need your help with that, I'll get back to you 😃

[2020-06-04 12:10] MikeDabrowski commented on #41
Thanks, next week I can create some stackblitz if still needed. I don't have time to do that now, unfortunately.

[2020-06-04 13:37] pedraldo commented on #38
@shaharkazaz I don't understand what you mean by adding the file at the end ?
Which file do you think about ? Translation file (JSON) ?

The thing that could be possible would be :

1. Build the library with a command like `ng build --project=myLib —prod`.
2. Copy keys (JSON tranlsation files and folders) from the root project (*src/asssets/i18n*) inside the build (= post build treatment), for exa

[2020-06-09 10:21] #34 closed

[2020-06-10 08:45] shaharkazaz commented on #34
@JerryDoubleU available in v2.1.0. Great work!

[2020-06-11 09:21] shaharkazaz commented on #40
@potray just to make sure I understand, you also have keys in your src folder? the src contains your main app and projects you supporting libs??

[2020-06-11 10:08] stijnvn opened #42 "Feature: support dynamic scope name"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The key manager detects `TRANSLATION_SCOPE_KEY` instead of `myTranslationScopeKey` while parsing the mo

[2020-06-11 17:20] shaharkazaz commented on #42
@stijnvn we currently don't support dynamic keys as scopes.
You are welcome to open a PR for it 😄

[2020-06-15 09:42] potray commented on #40
@shaharkazaz Yes, we have keys in both `root/projects/` and in `root/src/app/`. Sadly scanning in `root` also scans `node_modules`, so it's not an option.

[2020-06-15 12:20] shaharkazaz commented on #40
@potray How about we add support for an array of input paths?
Would you like to create a PR for it?

[2020-06-17 15:56] emzet opened #43 "Extract command breaks translation files"
## I'm submitting a...
[code]

## Current behavior
When runing `transloco-keys-manager extract` with this template markup, it outputs message in console and breaks existing translation JSON files. Same problem as here https://github.com/ngneat/transloco-keys-manager/issues/32. `[inlineSVG]` is directive from library https://github.com/arkon/ng-inline-svg

**Bad**
[code]

**Good** (_no message in c

[2020-06-18 12:55] potray commented on #40
@shaharkazaz That would be perfect.

I cannot promise a PR since lately I'm having difficulties finding time to do stuff, but if I can and nobody is on it I can try :)

[2020-06-19 07:32] shaharkazaz commented on #43
@emzet Can you please provide the console error?

[2020-06-20 17:03] MikeDabrowski commented on #41
Sorry, it took me longer than expected but here is the repo: https://github.com/ngneat/transloco-keys-manager

I expect that putting `. After extract I only have keys A and B flat on top level of json.

When I manually add proper, nested key NEST.A to json it is then properly rendered BUT finder now complains it is extra key.

Pls let me know if this repro is sufficient or maybe am I making a mist

[2020-06-21 09:45] shaharkazaz commented on #41
@MikeDabrowski I think you added a wrong link to the repo 🙂
But just from reading the explanation, I think you are misunderstanding the purpose of the comments, I'll wait for the correct link and see 👍

[2020-06-21 09:50] #40 closed

[2020-06-21 09:53] shaharkazaz commented on #40
@potray try v2.2.0 and LMK how it goes 🙂

[2020-06-21 09:54] shaharkazaz commented on #35
@swayf @Dedrus would one of you guys like to create a PR for it?

[2020-06-21 13:40] MikeDabrowski commented on #41
@shaharkazaz sorry, copypasta error :P

[2020-06-22 11:36] potray commented on #40
Thanks for the new functionality! I updated but sadly I'm experiencing the following

[code]

Sadly before I updated to v2.2.0 I was using v2.1.0 without trying the `find` script, and before that we were using v1 (yes, we totally forgot to update it for very long 😅) so I cannot provide further information.

[2020-06-22 11:46] shaharkazaz commented on #40
@potray can you please provide more information? node version, the configuration used, and every env related info.

[2020-06-22 11:52] potray commented on #40
Sure:

- npm v6.14.4
- node v10.21.0
- The script I ran: `transloco-keys-manager extract --unflat --sort`
- Environment (all running inside a WSL 2 instance):
  - Distributor ID: Ubuntu
  - Description:    Ubuntu 20.04 LTS
  - Release:        20.04
  - Codename:       focal

Anything else that could be useful?

[2020-06-22 11:56] shaharkazaz commented on #40
@potray The issue is with your node version, array flat is supported starting Node 11.
I'll add a polyfill and release a fix.

[2020-06-22 12:09] shaharkazaz commented on #40
@potray can you please try v2.2.1?

[2020-06-22 12:21] potray commented on #40
@shaharkazaz works like a charm!!

[2020-06-22 12:26] shaharkazaz commented on #40
@potray I need you to isolate the issue.
Please try each input path alone and see which one reproduces this error.
Also, try to downgrade back to 2.1.0 and re-run on each path.
Thanks

[2020-06-22 14:03] potray commented on #40
@shaharkazaz I was able to isolate the issue.

We have a file with the following content:
[code]

Somehow removing one of the lines makes the error disappear. This is very weird and it makes little sense to me, but it's what I experience 😕

[2020-06-22 14:10] shaharkazaz commented on #40
@potray which line are you removing?
And why do you have such a file? Shouldn't it be part of the template or an actual component file?

[2020-06-22 14:21] potray commented on #40
@shaharkazaz Removing any of the 5 lines in the comment make the script work.

We have more content in that file (models to be more exact), but I removed everything until I managed to find the culprit code, which is that comment.

[2020-06-22 14:24] shaharkazaz commented on #40
@potray you say the first run works as expected? Re-runing triggers the error?
Have you tried to combine all the comment values under a single `t(...)`?

[2020-06-22 14:30] potray commented on #40
@shaharkazaz Sorry, that was very misleading on my part. What happened exactly was the script ran, I identified extra keys because the comment was missing, I added the comment I wrote, and after that, the script failed.

If you mean combining them like this
[code]

It also produces the same error.

[2020-06-22 14:34] shaharkazaz commented on #40
@potray thanks for clarifying.
I'll try to reproduce but if you can provide a reproduction that would be great 👍

[2020-06-22 15:06] potray commented on #40
@shaharkazaz Alright, this is crazy, but this is what happened:

I tried to recreate the issue in another Angular project and I was unable, so I thought something is wrong with our `en.json` file. I couldn't find anything so out of frustration I deleted the entire content of the `en.json` file, I still got the error, I undid, and now the error is gone 🤯

I can only bet of an extraneous character s

[2020-06-22 16:02] shaharkazaz commented on #40
@potray glad to hear! If you ever do find the reason, do share :)

[2020-06-22 18:11] trandromeda commented on #41
I think I'm experiencing something similar to this issue.

I have this in my en.json:

[code]

and in my template I have used Transloco as such:
[code]

When running the extract command, instead of detecting the nested keys already in my json it creates duplicate keys e.g:
[code]

Perhaps this is intended but it would be nice to be able to nest keys in our json for sure!

[2020-06-22 18:16] MikeDabrowski commented on #41
For me, such template will be correctly parsed and put in JSON. I use it
like that all the time. Only combination of dynamic keys and comments has
issues.

On Mon, 22 Jun 2020 at 20:11, Andy Tran <notifications@github.com> wrote:

[2020-06-22 18:49] trandromeda commented on #41
After a closer look I realized I needed to add the `unflat` option when running extract. GL with the original issue being resolved!

[2020-06-22 22:42] Wycza opened #44 "Throw error on missing keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

There is an option to emit an error on extra keys but no for missing keys.

## Expected behavior

It wo

[2020-06-22 22:47] Wycza commented on #44
I have all needed code changes already but I have a problem with pushing them. I don't know how to run tests. `npm run test` does not work for me.

`"test": "PRODUCTION=true jest",` = '_PRODUCTION' is not recognized as an internal or external command,_

`"test": "jest",` = _TypeError: string.replace is not a function_

Can you help me with running those tests?

[2020-06-23 07:57] shaharkazaz commented on #44
@Wycza missing keys emits an error, the process will exit with exit code 1.

[2020-06-23 08:06] shaharkazaz commented on #41
@MikeDabrowski
I think you misunderstood the comments usage.
From your reproduction:
[code]
Why was the comment added there? there are no dynamic values here, the keys manager can handle a ternary.
Comments are always added to the top-level and are not influenced by the `read` property.
A good usage for the comments would be:
[code]
`variable1` is `'NEST_A'`, `variable2` is `'NEST_B'` and since we

[2020-06-23 08:35] Wycza commented on #44
@shaharkazaz ach yes. My bad. When I run ` ng g @ngneat/transloco:keys-manager` then version 1.0.0 was installed which didn't exit on missing keys. Then I updated it to the latest version but I was more focused on ` --emit-error-on-extra-keys` option instead of checking if it exit on missing keys. In this case we can close the issue. Thanks for quick reply 👍

[2020-06-23 08:35] #44 closed

[2020-06-23 08:42] MikeDabrowski commented on #41
The comment was added because key manager failed to parse ` <p>This is the problem: {{t( condition ? 'NEST_A': 'NEST_B')}}</p>` and did not put those two into json.  [case2](https://github.com/MikeDabrowski/transloco-km-bug-repro/commit/5472befa19ceb8dc01b375a02661c59a28f70744)
And after adding the comment it failed to nest those two values. [case3](https://github.com/MikeDabrowski/transloco-km-bu

[2020-06-23 09:34] shaharkazaz commented on #41
@MikeDabrowski Sorry I made a mistake, let me re-clarify: (never write a comment while being distracted haha)
1. Comments should inherit the read value and prefixed by it, I ran the extraction and it works fine IDK why you were using v1 in the repo you provided upgrading made it work correctly.
2. The ternary is currently supported in the pipes and directives (and not the structural) it's shown in

[2020-06-23 09:54] MikeDabrowski commented on #41
Darn... Those versions are seriously messed up. Sorry about that. I bumped it to 2.2.1 now and rechecked. I can confirm, 2.2.1 nests comments as in readme. I need to keep an eye out and bump versions more often :)

Case 1: I thought so but I guess that was that mistake of yours so we can scratch that.

So what is left is writing the support for ternary in structural, right? I'll be happy to add PR

[2020-06-23 10:01] shaharkazaz commented on #41
@MikeDabrowski I think it's a feature request 😄
If you think you can make a Pr in the next 2 weeks or so cool! if not I'll add the feature 👍

[2020-06-23 10:09] MikeDabrowski commented on #41
2 weeks is doable :D

[2020-06-23 10:13] shaharkazaz commented on #41
@MikeDabrowski Great! waiting for that PR 😄

[2020-06-24 07:35] MikeDabrowski commented on #41
@shaharkazaz
One more detail.
I updated km to 2.2.1 and put this snippet in my commercial code:

[code]

and key manager find outputs:

[code]

Shouldn't it output only one 'TEST' ? I mean it is not used in ternary, but its both extracted individually and with read input combined.

[2020-06-24 07:38] shaharkazaz commented on #41
@MikeDabrowski would be great if you can update your reproduction repo, it's easier to work with it 😄

[2020-06-25 12:19] zzakir opened #45 "po file support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

Is there an option to extract the keys into po files instead of a json file?

[2020-06-26 11:27] shaharkazaz commented on #45
@zzakir would you like to make a PR for it? 🙂

[2020-06-26 13:23] zzakir commented on #45
@shaharkazaz Sure! I will give it a shot.

[2020-07-01 07:48] zuehlkefagu opened #46 "Wrong JSON format with Webpack plugin"
Hi guys

We are using Transloco with the Webpack Plugin (thanks for that!) for extracting keys during development in combination with  dynamic keys.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please

[2020-07-01 09:29] emzet commented on #43
@shaharkazaz same as here https://github.com/ngneat/transloco-keys-manager/issues/32

[2020-07-13 12:02] MikeDabrowski commented on #41
@shaharkazaz
I created the PR, could you take a look and hint me if something should be done differently ?

[2020-07-13 12:08] shaharkazaz commented on #41
@MikeDabrowski ya sure, I have some exams now (college) so I didn't have much time to get to it, I'll let you know! Thanks!

[2020-07-13 12:16] MikeDabrowski commented on #41
OK good luck. Glad Im over that myself haha :D

On Mon, 13 Jul 2020 at 14:09, Shahar Kazaz <notifications@github.com> wrote:

[2020-07-16 10:36] stsglnt opened #49 ""transloco-keys-manager find" support for dynamically created strings(keys) in html"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Dynamicly generated translation strings (for example <p>{{t(dynamicKey + '.title')}}) is not recognized

[2020-07-16 10:38] shaharkazaz commented on #49
@stsglnt have you seen the [dynamic keys section](https://github.com/ngneat/transloco-keys-manager#dynamic-keys) in the docs?

[2020-07-16 10:53] stsglnt commented on #49
Oh... this is totally my bad. I have not understood that part at first. Now I see. Thanks for an unbelievably fast response.

[2020-07-16 10:53] #49 closed

[2020-07-20 13:24] stefanomiccoli opened #50 "duplicated keys extracted for scoped translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Specifying comments for scoped dynamic keys results in keys added to both the scope translation file an

[2020-07-21 14:38] stefanomiccoli commented on #50
just realized there's actually no connection between the scope and the duplicate keys, by coincidence, the read value from yesterday example matched with our scope. but even in a simpler scenario, very close to the docs, like the following

[code]

i got duplicates in en.json (flattened or unflattened doesnt make a difference)
[code]

[2020-07-24 13:19] Dedrus commented on #35
#51 I've submitted PR but need help with it, I can't run tests and not sure how to build util properly(I can test it on my project at least)

[2020-07-25 06:43] shaharkazaz commented on #46
@zuehlkefagu can you please provide a small reproduction repo so I can better test it? 🙂

[2020-07-25 06:46] shaharkazaz commented on #50
@stefanomiccoli can you please provide a small reproduction repo? 🙂

[2020-07-27 11:35] MikeDabrowski opened #52 "Find should be able to whitelist translation files like extract does"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`Find` check all json files in translations directory. Our client wanted to be able to see translation

[2020-08-03 11:21] brlx opened #53 "Sort keys and their comments for translators together"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When using [comments for translators](https://ngneat.github.io/transloco/docs/tools/comments), and then

[2020-08-04 23:48] melonparfait commented on #50
I'm also encountering this exact same behavior. I created a reproduction at https://github.com/melonparfait/transloco-extract-duplicate-keys

[2020-08-06 13:29] shaharkazaz commented on #50
@melonparfait I'll take a look, thanks 🙂

[2020-08-10 07:56] shaharkazaz commented on #35
@swayf why not use the replace option as @Dedrus suggests? 🙂

[2020-08-10 07:58] shaharkazaz commented on #45
@zzakir any update on that? 🙂

[2020-08-10 13:46] zzakir commented on #45
@shaharkazaz Sorry about not updating you. Po file support was really important for my company and because of that they've decided to stick with ngx-translate for now. Because of my busy schedule I did not really get the time to look into this as well.

[2020-08-10 18:48] shaharkazaz commented on #45
@zzakir I see, good luck anyways, hope to see you as a contributor here 😊

[2020-08-11 15:43] Alegiter opened #54 "transloco-keys-manager don`t extract if "--project" provided with angular library"
First of all, thanks to transloco team)

Maybe I`m doing something wrong... But little tired looking for a solution. So I'm writing an issue request.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Pleas

[2020-08-24 14:36] dorthrithil opened #55 ""Cannot read property 'project' of undefined" when running with webpack plugin"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Running `ng serve --extra-webpack-config webpack-dev.config.js` throws:

[code]

## Expected behavior

[2020-08-25 08:48] potray opened #56 "Keys Detective shouldn't mark comments as extra keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The Keys Detective marks all of our comments for translators (i.e. all entries that are `something.comm

[2020-08-25 09:09] potray opened #57 "Detect references to missing keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

One of the most useful features of Transloco is the ability to reference other keys within the same tra

[2020-08-29 09:28] dorthrithil opened #58 "Detective doesn't detect keys as extra keys if a read input has been added for keys added in template comments"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I started with the following template:

[code]

After extracting keys, the following keys were added co

[2020-08-29 09:31] dorthrithil commented on #58
Just also noticed, that after manually deleting the extra keys and running `extract` again the keys are added back in. So the tool is actually creating them twice. Once prefixed, once without prefix.

[2020-09-02 03:51] EndyKaufman opened #59 "Feature: Add support for function marker (not in a comment)"
In ngx-translate world exists key extractor https://github.com/biesbjerg/ngx-translate-extract#marker-function, this marker work in ts files

Example of DTO:
[code]
Example use in a component:
[code]
Example use in a template:
[code]

i try will use import { translate } from '@ngneat/transloco'; but this function not for this, it force translate, it not for current case

now I use stupid code as a

[2020-09-02 05:39] EndyKaufman commented on #59
Example very stupid code for a workaround
[code]

[2020-09-02 05:41] EndyKaufman commented on #59
@shaharkazaz please help me

[2020-09-02 05:49] EndyKaufman commented on #59
Another big stupid code
[code]

[2020-09-02 06:01] shaharkazaz commented on #59
@EndyKaufman I think there is a combination of misuse and misunderstanding of the functionality.
Just to clarify:
- The keys extractor extract **keys**, so if you are not using any translation method on this value why do you need it as a key in your JSON?
- The marker is used for marking translations in comments, meaning we will reach for the provided marker in comments and extract the keys from t

[2020-09-02 06:06] EndyKaufman commented on #59
hello, see great examples, duplicate text turns out a lot, I use TC files with constants for the mobile application and for the backend and frontend

[2020-09-02 06:08] shaharkazaz commented on #59
@EndyKaufman so if they are constant strings that aren't translated, why do you need them extracted into your JSON?

[2020-09-02 06:16] EndyKaufman commented on #59
my old project use ngx-translate and https://github.com/biesbjerg/ngx-translate-extract#marker-function and share models for mobile application and for frontend
model: https://github.com/rucken/core/blob/develop/libs/rucken/core/src/lib/models/group.ts
translated file: https://github.com/rucken/core/blob/develop/libs/rucken/core/src/i18n/ru.i18n.ts
frontend form: https://github.com/rucken/core/blo

[2020-09-02 06:22] shaharkazaz commented on #59
Ok, and why are you not using the actual transloco `translate` function instead of the one imported from `import { translate } from '../utils/translate';`?

I still can't understand your use case.

[2020-09-02 06:40] EndyKaufman commented on #59
translate used in my examples end marked functions from ngx-translate-extract need only for mark, it is dummy method
https://github.com/rucken/core/blob/develop/libs/rucken/core/src/lib/utils/translate.ts
https://github.com/biesbjerg/ngx-translate-extract-marker/blob/master/projects/ngx-translate-extract-marker/src/lib/ngx-translate-extract-marker.ts

but you translate function is not marker, and

[2020-09-02 06:53] EndyKaufman commented on #59
it need for show title
[code]

[2020-09-02 07:07] EndyKaufman commented on #59
need new dummy method ```import { marker } from '@ngneat/transloco';```  only for extract strings without change it

[2020-09-02 07:42] shaharkazaz commented on #59
@EndyKaufman You want the value for the object you are working with to be the key of the translation key which is then consumed somewhere in the app but also mark it for extraction for the keys manager?

[2020-09-02 07:46] EndyKaufman commented on #59
yes, to use as one source of truth

[2020-09-02 08:00] shaharkazaz commented on #59
@EndyKaufman currently we don't support such marker function since we didn't find a valid use case for working with a dev tool in production code.

You are welcome to open a PR for it 🙂

[2020-09-02 08:22] EndyKaufman commented on #59
ok)

[2020-09-02 12:10] Alegiter commented on #58
+1
Duplicate of [50#](https://github.com/ngneat/transloco-keys-manager/issues/50#)

[2020-09-02 12:11] Alegiter commented on #50
Any progress on this issue?
Realy need to be fixed

[2020-09-02 12:21] dorthrithil commented on #58
It's not exactly a duplicate as #50 doesn't mention the detective bug - but I guess it's closely related.

[2020-09-02 12:38] shaharkazaz commented on #50
@Alegiter There is no timeline for it since I need to find the time to test and make the fix 🙂
You are more than welcome to create a PR for it.
I hope I will get to it this weekend (I'm a college student so I had a lot of stuff going on lately )

[2020-09-02 12:43] Alegiter commented on #58
Sorry, agreed with you)
I think if #50 will be solved, then this issue will be solved too. maybe)

[2020-09-02 13:31] Alegiter commented on #50
Found workaround. Strange, but it works for me.

If I move comment with key out of *transloco container.
And add "readValue" to key, then extract works as expected - puts key only in scope folder. No duplicates

Before:
[code]

After:
[code]

[2020-09-02 14:16] Alegiter commented on #50
Trying to reproduce my [previous answer](https://github.com/ngneat/transloco-keys-manager/issues/50#issuecomment-685739065) in new ng project.

My answer is not works
And current issue don`t reproduced

Magic :)

[2020-09-02 19:18] EndyKaufman commented on #59
@shaharkazaz i create PR with this feature https://github.com/ngneat/transloco-keys-manager/pull/60

[2020-09-12 17:29] #59 closed

[2020-09-12 18:19] #50 closed

[2020-09-12 18:24] shaharkazaz commented on #50
@melonparfait
Tested on the reproduction you provided.
Can all of you please test v2.3.1? 🙂

[2020-09-14 08:16] Alegiter commented on #50
@shaharkazaz
Bug fixed for me
Thank you :)

[2020-09-14 13:54] ttan-beckman commented on #50
Fixed for me too. Thanks!

[2020-09-14 13:56] melonparfait commented on #50
Fixed for me too. Thanks!

[2020-09-19 14:24] shaharkazaz commented on #41
@MikeDabrowski merged and released in v2.4.0

[2020-09-19 14:24] #41 closed

[2020-09-19 16:39] #43 closed

[2020-09-19 16:39] shaharkazaz commented on #43
@emzet should be fixed in v2.4.1

[2020-09-19 22:50] #46 closed

[2020-09-19 22:51] shaharkazaz commented on #46
@zuehlkefagu should be fixed in v2.4.2

[2020-09-19 22:56] shaharkazaz commented on #55
@dorthrithil Seems to be working for me... can you please create a reproduction repo and share it? 🙂

[2020-09-19 23:08] shaharkazaz commented on #58
@dorthrithil Was this issue resolved via the fix in #50?

[2020-09-20 07:30] shaharkazaz commented on #53
@brlx Can you please share your configuration? are you using the sort option?

[2020-09-20 08:00] #56 closed

[2020-09-20 08:02] shaharkazaz commented on #56
@potray released in v2.5.0, LMK if it works for you 🙂

[2020-09-20 09:58] #54 closed

[2020-09-20 09:59] shaharkazaz commented on #54
@Alegiter
What happened here is that the default value for the input config is `['app']` and you wanted to extract from a lib has a root folder of `lib` the extraction failed due to invalid input.

In order to resolve this you can define a transloco config in your library folder with the correct input path.
I figured that this might be a coomon usecase so I did the following:
* The keys manager wi

[2020-09-21 07:49] potray commented on #56
@shaharkazaz It does work, thanks! But I think this introduces a bug: an entry with the key `"comment"` is not processed as an extra key. I think the problem is the following two entries for `"comment"` are equivalent when reading JSON:

[code]
[code]

Probably this isn't possible to implement by reading and interpreting json. The easiest solution I can think about would be to change the recommend

[2020-09-22 14:09] egel opened #63 "Cant install @ngneat/transloco:keys-manager via yarn package mananger"
## I'm submitting a bug

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

in README there are installation instrudtions for `ng`, but the package name `@ngneat/transloco:keys-m

[2020-09-22 14:10] egel commented on #63
If the issue will be generally approved by authors, I can provide a proposition/solution pull request :)

[2020-09-23 17:02] dorthrithil commented on #58
Yes, the error is gone. Thank you!

[2020-09-23 17:02] #58 closed

[2020-09-28 15:28] shaharkazaz commented on #63
@egel Thanks for suggesting a PR but I'll take this one and create a manual installation guide 🙂

[2020-09-28 20:16] brlx commented on #53
@shaharkazaz Thanks for the reply, added the section _Our transloco config_ above in the OP. Nothing else comes into my mind that I think would be relevant. So no, we don't use the `sort` option, and the default setting is `false`, if I am correct.

[2020-09-28 20:26] shaharkazaz commented on #53
@brlx Have you tried running with the sort option set to `true`? 🙂  I think it might put those keys togther.

[2020-09-29 06:30] brlx commented on #53
@shaharkazaz  well, this is lame and embarrassing, I have not found that earlier, even though I _swear_ that I read the docs multiple times.
Where do I send you (and/or the ngneat team) a beer for your work? Actually I wanted to do that earlier already, before coming with a specific question, but didn't find the button for that either.

[2020-09-29 06:30] #53 closed

[2020-09-30 16:14] #63 closed

[2020-10-02 13:29] shaharkazaz commented on #52
@MikeDabrowski Currently I don't see how many users will need such a feature. as we discussed I recommend you create a fork at the time being and implement the logic you need there.
If I see that there is a growing demand we can always reconsider adding this into the project.

[2020-10-02 14:07] MikeDabrowski commented on #52
A bit disappointing, esp. given that this would be basically a filter on the files, but ok - I will manage this locally then.

[2020-10-02 14:20] shaharkazaz commented on #52
@MikeDabrowski If you are already implementing this you can create a PR for it and we can see how we push this forward.
What's the property you had in mind adding? what's the behavior? passing the langs you want to skip when using find?

[2020-10-02 14:23] MikeDabrowski commented on #52
Similar to extract: I think it was `-l en fr de` to whitelist. Then in the code I tried to add filter that checks if the file found in the directory is in the whitelist and filter out rest. I have not yet succeeded in testing it out on any of my projects.

[2020-10-02 14:27] shaharkazaz commented on #52
@MikeDabrowski I see, but it's not exactly the same, this filter in the extract is meant to instruct the manager which languages files to generate.
I think that in the `find` this might be a bit odd, we need to think about how we want to expose such functionality.
but first, make it work on your projects and we can continue from there 🙂
Assigning this issue to you.

[2020-10-02 14:30] MikeDabrowski commented on #52
I agree it will be different. Of course that was only my initial idea, I thought it would be the quickest and least code.
On the other hand, why would `find` read every json in lang directory?

[2020-10-02 15:22] shaharkazaz commented on #52
@MikeDabrowski Since they are different files, each one can have a different set of keys.
The `find` command job is to show you inconsistency.

[2020-10-07 16:26] Alegiter commented on #54
@shaharkazaz
Works like a charm! :smiley:
And the new debugging feature is sooooo useful! Thank you very much!

[2020-10-07 16:30] shaharkazaz commented on #54
@Alegiter Happy to hear! I hope to see you as a ngneat contributor in the future 😁

[2020-10-12 15:51] Alegiter opened #65 "Support for more than 65 characters for the key"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Extractor and finder cannot detect keys with more than 65 characters

## Expected behavior

More than 6

[2020-10-12 16:28] Alegiter commented on #65
The problem is solved partially in .html with translocoRead directive

[2020-10-12 16:31] shaharkazaz commented on #65
@Alegiter would be helpful if you can provide a small reproduction with the cases you encountered 🙂

[2020-10-13 10:12] Alegiter commented on #65
My mistake :facepalm:

Double-check my problem. And it was only in .html if I didn`t use translocoRead dirrective.

[2020-10-13 10:12] #65 closed

[2020-10-23 16:27] uberpwner opened #66 "Scopes with hyphens in their name are not extracted correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have an app with lazy loaded modules. When adding transloco to those modules and naming scopes someth

[2020-10-24 10:51] shaharkazaz commented on #66
@uberpwner Thanks for providing a detailed issue with reproduction 🙂 Would you like to create a PR for it?

[2020-10-24 19:23] uberpwner commented on #66
@shaharkazaz I'd like to, but I think I'll have time only next month. If it's okay - could you advice me on which parts of code should I look into?

[2020-10-27 09:10] shaharkazaz commented on #66
@uberpwner I didn't try to debug it yet myself but I would look at `extractTsServiceKeys` & `buildKeysFromASTNodes` and try to understand what's going on in this scenario.

[2020-11-02 14:31] taylormathewson opened #67 "License for trans-loco-keys-manager"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

Maybe more a question than an issue, but I was wondering what license this particular package is offered under?  I don't see

[2020-11-02 14:58] shaharkazaz commented on #67
@taylormathewson You are correct seems like the license is missing, I'll add it.
It's MIT 🙂

[2020-11-02 15:01] taylormathewson commented on #67
Many thanks!

[2020-11-02 19:56] #67 closed

[2020-11-18 17:01] tatems opened #68 "Common Translations for Multiple Projects"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm currently working in an Nx monorepo with multiple applications and libraries. Some translations are

[2020-12-11 09:59] shaharkazaz commented on #55
@dorthrithil feel free to reopen once you provide a reproduction 🙂

[2020-12-11 09:59] #55 closed

[2020-12-11 18:34] foull opened #70 "Keys in templates with additional white spaces are not exported"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Not sure if this is a designed behaviour or a bug. In my opinion, it's a bug :)

I'm developing an Angu

[2020-12-12 10:55] #70 closed

[2020-12-12 10:56] shaharkazaz commented on #70
@foull Can you verify it's working in v2.7.1?

[2020-12-14 16:15] foull commented on #70
@shaharkazaz It's working good in v2.7.1. Thanks for a quick fix! :)

[2020-12-18 08:55] muuvmuuv opened #71 "Support Wildcard `*` in dynamic keys"
### Is your feature request related to a problem? Please describe.

We have a scope `FORM.ERROR.XXX` and would like to avoid adding every scope here because it would be too difficult to maintain, can we have a wildcard for the last scope so that its ignored?

### Describe the solution you'd like

A wildcard `*`: `FORM.ERROR.*`

### Describe alternatives you've considered

Something like "ignore sc

[2020-12-18 09:08] shaharkazaz commented on #71
@muuvmuuv Hey,
I don't understand the situation you are describing.
Can you please provide an example? with what you expect to happen? ignored by who? the issue is the something gets extracted when you don't want it to? (inputs & outputs)

[2020-12-19 09:24] muuvmuuv commented on #71
That is what I want to do so it does not show it when I use the `find` command:

[code]

I would like to avoid adding every case into `t(..)`.

[2020-12-19 11:16] shaharkazaz commented on #71
@muuvmuuv The issue is that these keys are getting extracted and you don't want them extracted?
Or they are not extracted and you want them to?
Can you add a current `json` example and an expected `json` example?

[2020-12-20 08:11] muuvmuuv commented on #71
I don't use `extract` at all because we have a tool to manage our translations, but I would like to `find` translations that we might have forgotten. So, yes, I want to ignore those because they are impossible to fetch since they are dynamic.

[2020-12-20 08:20] shaharkazaz commented on #71
@muuvmuuv a few questions:
1. Have you seen the [dynamic keys](https://github.com/ngneat/transloco-keys-manager#dynamic-keys) section?
2. If you are not using the extract, and you want to ignore these values, why use the `marker` function?
3. Currently when you are running find, what is the result?

[2020-12-20 12:07] muuvmuuv commented on #71
1. Yes.. this is a proposal for dynamic keys
2. I just started using this CLI and just didn't notice. Thanks for the hint, will replace it with the comment.
3. It shows some missing keys and extra keys:

[code]

I would like to reduce the "extra keys" section.

[2020-12-20 17:08] shaharkazaz commented on #71
@muuvmuuv I see what you mean. The thing is that the `extract` and `find` use the same mechanism, and adding this wildcard could be problematic.

The correct way to handle this is by adding all those dynamic keys in the supported conventions, as the keys manager expects you to.

I'll think about it a little more, but in the meantime, that's the approach I'm suggesting.

[2021-01-04 15:37] tatems opened #72 "Support workspace.json as a config file"
### Is your feature request related to a problem? Please describe.
Nx has recently moved to use `workspace.json` as the main config file for new projects, instead of `angular.json`. It would be helpful to support specifying the config file name.

### Describe the solution you'd like
Allow a project to specify a `workspaceConfigFile`  field in the Transloco config file. The key manager would then l

[2021-01-13 09:37] heddendorp opened #74 "Bug does not work in components with inline loaders"
### Current behavior
I'm using an inline loader to load translation files for my lazy module and then selectTranslate to translate some strings in my component. The keys manager can not extract my keys.

### Expected behavior
I expect the key extractor to properly extract keys and recognize the scope I want to use

### Steps To Reproduce
Create a lazy module with an inline loader and a component.

[2021-01-27 22:10] cperez87 opened #75 "Bug"
### Current behavior
When a translator `.comment` is added on a translation file, and sorting is enabled, the `.comment` is not always kept next to the matching key.
[code]

### Expected behavior
`.comment` should be next to the matching key to make the translator's work easier.
[code]

### Steps To Reproduce
- Add a `.comment` to a translation file
- run `transloco-keys-manager extract`

### Scre

[2021-01-27 22:11] #75 closed

[2021-02-01 15:57] ChazUK opened #76 "Extract Scoped Translations from Mono Repo into single file"
I've got a Nx workspace project with multiple libs that contain scoped translations that live inline with each component, and also a sort of global translation file for each lib where common strings can be managed.

I've been trying to find a way to export all the translations into a flat file, which can then be managed by an editor/translator, sent back and then imported back into each scope.

[c

[2021-02-02 12:04] ChazUK opened #77 "Feature: Default Language to use for missing keys / Adding a new language"
I've been looking at easy ways to add a new language and generating the required files across my project.

Currently my `transloco.config.js` file looks like this with a list of the scoped inline loaders for each component.

[code]

I then added `it` to the langs array and ran `transloco-keys-manager extract --project ui` which I thought would re-run the extract process, not change `en` and `de` t

[2021-02-02 17:46] baxyz opened #78 "Feature: config file in typescript"
The config file name proposed is in javascript `transloco.config.js` and other formats are supported according [this doc](https://github.com/davidtheclark/cosmiconfig/#cosmiconfig), including YML, but not yet typescript.

It should be very convenient allowing a config file formatting in typescript.

The library used, `cosmiconfig`, is supposed already supporting the TS extension according the [dav

[2021-02-03 12:40] ChazUK opened #79 "Bug: EOF new line"
Running the extractor saves the files without a blank new line at the end of the file, which is a UNIX standard.

Expected:
Extracted files show be saved with an empty line at the end of the file.

[2021-02-03 16:01] ChazUK opened #80 "Feature: support scope name defined in variable"
[code]

Causes scope name to be read as componentScope when creating folders

[2021-02-03 18:23] ChazUK commented on #74
You can Inject the scope inside your component code. Try this

[code]

[2021-02-08 21:10] seadonk opened #81 "Find/Extract do not detect keys in .html files - in angular NX MonoRepo with Shared Root Transloco Config"
### Current behavior
In our NX monorepo, we use a root transloco.config file for all apps/libraries, with the translations sitting at `<project>/src/assets/i18n`. Transloco-keys-manager FIND and EXTRACT methods do not detect any keys in the template (.html) files and will show them as extra keys.

### Expected behavior
All keys in .html files for both libs and apps should be detected by the FIND a

[2021-02-25 16:39] JustinPierce commented on #79
This is a constant annoyance for us, as we have Prettier set up to ensure that there is a newline at the end of every file. Since we have the extractor hooked up via Webpack, simply running our application for development causes an edit in every translation file. Sure, Prettier is going to wipe it out in the end, but it still looks like the key manager found keys to extract.

[2021-02-25 16:43] shaharkazaz commented on #79
@JustinPierce @ChazUK You are welcome to open a PR 🙂
I can't say any timeline for this issue due to a busy schedule.

[2021-03-04 19:09] nickroberts opened #82 "Ability to output `transloco-keys-manager find` command as json"
We are using an nx workspace with several different libraries.

Currently, we have a script that loops through all of the projects from our `angular.json` file, and adds the translation keys to a shared set of translation files:
[code]

We would like to be able to run the `transloco-keys-manager find` command, and have it output json, so we can remove all of the keys that aren't in our application

[2021-03-04 19:28] nickroberts commented on #82
Actually, I might be able to do what we need to by not using the project flag, and using the input flag. Stay tuned!

[2021-03-04 20:24] nickroberts commented on #82
Ok, I was able to solve my probably a bit differently, but it seems to work much better than looping through the projects, anyways.

It could probably be a bit cleaner, but it works for now. I'm adding my code, in case anyone else needs this functionality.

To just extract all of the translations, you would run this:
[code]
To extract and filter out any non-existing translations, you would run thi

[2021-03-04 20:24] #82 closed

[2021-03-05 12:15] tsvetan-ganev opened #83 "Feature: Extract keys from inline templates"
### Is your feature request related to a problem? Please describe.
Currently the tool is unable to extract translation keys from components which have their template inline. It would be great if components with inline HTML templates are detected and their templates' contents are parsed as if they were a separate HTML file.

I know that inlining the template is not very popular among the community

[2021-03-11 08:49] shaharkazaz commented on #80
@ChazUK Currently we don't support dynamic values, you are welcome to open a PR for it 🙂

[2021-03-13 15:08] openscript opened #84 "Support yarn when installing via schematics"
### Is your feature request related to a problem? Please describe.
Currently npm is used to install the keys manager. If the existing Angular project uses yarn it will take quite a while (depending on the devs machine up to a few minutes) and create a `package-lock.json` which is "redundant" with the `yarn.lock`.

### Describe the solution you'd like
The provided schematics should detect if yarn i

[2021-04-08 07:34] rhuitl commented on #67
Thank you for sharing this project under the MIT license :-)

I have a question though because before your clarification @shaharkazaz, @NetanelBasal made an explicit statement in the file `regexs.ts` in 8ba70cb48e0d8f75e186e910df2e274a8ef5e738 about that particular code being proprietary. Not sure what the background was, maybe somebody was "stealing" the hard work that went into these regexes. Bu

[2021-04-08 08:39] rhuitl commented on #77
I think this is a bug introduced in 268644d45bb35e4b34d5a40b76a3e311c3fccbe9. The `mergeDeep()` method modifies the first parameter, so all previously processed languages will leak into the subsequent ones.

[2021-04-08 09:04] rhuitl opened #87 "Keys with ', " or ) are not extracted from HTML"
### Current behavior
Keys with the characters `'`, `"` or `)` are not extracted from HTML. The same works with `translate()` in JS code.
Example:
[code]

### Expected behavior
They are extracted.

### Steps To Reproduce
Run the extractor on the HTML snippet above.

### Contribution
I will open a PR to discuss a potential fix.

[2021-04-15 10:41] shaharkazaz commented on #67
@rhuitl Thanks for pointing that out.
I'll update that file and release a new version.

[2021-04-18 09:09] shaharkazaz commented on #66
@uberpwner Do you still want to do it? 🙂

[2021-04-18 15:40] shaharkazaz commented on #84
@openscript sounds good to me, waiting for that PR! 🙂

[2021-04-18 18:29] fpmcguire51 opened #90 "Bug transloco.config.js rootTranslationsPath: is incorrect for i18n:find"
### Current behavior
version: package.json
"@ngneat/transloco": "^2.20.1",
"@ngneat/transloco-keys-manager": "^2.7.1",
CLI option

### Expected behavior
Expect the display of a table listing missing keys as described in the documentation

### Steps To Reproduce
Install transloco
Install transloco-keys-manager (CLI option)

### transloco.config.js (as generated by transloco installation)
module.exp

[2021-04-19 11:32] uberpwner commented on #66
@shaharkazaz I'm very sorry! I completely forgot about this issue. Let me look into it and I'll write you back this wednesday.

[2021-04-20 19:39] heddendorp opened #91 "Can't collect all keys in one file"
### Current behavior
Running `transloco-keys-manager extract --sort` without any `TRANSLOCO_SCOPE` providers leads to some keys like `home.chooseDriver` to end up in the root translation file and work. Some keys like `navigation.calendar` in a subfolder for the navigation scope and work and some keys like `landing.together` in a scope subfolder and don't work.
However it seems like transloco loads

[2021-04-20 22:09] uberpwner commented on #66
@shaharkazaz I managed to find some time to look into this issue. Unfortunately it wasn't enougn to find its cause.
Since I'm still having trouble finding more free time and this issue is easily solved by removing hyphen from scope name (i.e. my-scope could be changed to myScope), I suggest closing this issue.

Sorry again for disappearing for a long time.

[2021-04-21 10:07] heddendorp commented on #91
Due to a merge conflict the scope providers wher added to my project again so this was not actually an issue

[2021-04-21 10:07] #91 closed

[2021-04-24 07:20] shaharkazaz commented on #66
@uberpwner I had some time so I took a look at your use case.
I think you missed something regarding the scope name which led to misconfiguration, from the [scope's namespace](https://ngneat.github.io/transloco/docs/scope-configuration#scopes-namespace) section of the docs:

In the [reproduction you provided](https://github.com/uberpwner/transloco-key-manager-error) you have the following scope pr

[2021-04-24 07:20] #66 closed

[2021-05-02 06:54] openscript commented on #84
Interestingly this is already implemented: https://github.com/ngneat/transloco/blob/ac7fb139ad19fe52e2e987851bfd33a3554419a4/schematics/src/keys-manager/index.ts#L12

I have to investigate now, why this happened in my project...

[2021-05-05 07:32] openscript opened #92 "Transloco Keys Manager ignores scope for translations via TranslocoService"
### Current behavior
When running `transloco-keys-manager find --translations-path assets/i18n -e` the scope isn't picked up correctly for translation within components:

[code]

The module defines the scope:

[code]

Now the Transloco Keys Manager reports that there are missing keys in the unscoped translations and extra keys in the scoped. For translations done in the component templates it work

[2021-05-12 08:22] MickL commented on #84
This also broke my app. After install of transloco I got weird errors because partially npm was used. I fixed that by removing package-lock.json and deleting node_modules folder.

[2021-05-12 18:28] cjcrandall opened #95 "Typo: Staring -> Starting in log output"
### Current behavior

https://github.com/ngneat/transloco-keys-manager/blob/f47743859f7ea671e765d7bc1949e5deafc78e0e/src/messages.ts#L9

### Expected behavior

Should say "Starting", not "Staring"

### Steps To Reproduce

Read the code

### Contribution
I would like to make a pull request for this feature:
[ ] Yes! 🚀
[x] Maybe next time

[2021-06-01 19:58] vincent-benbria commented on #71
I'm also interested in the ability to mark a section to ignore, as a way to keep a clean "find" report when using dynamic keys that I simply don't want to write a 500 lines comment for.

[2021-06-28 01:58] JustinPierce opened #98 "Bug: Webpack plugin crashes when run on Webpack 5"
### Current behavior
The Webpack plugin fails on Webpack 5 due to a change in a private API.

### Expected behavior
The Webpack plugin should not fail in Webpack 5. ;)

### Steps To Reproduce
Create a basic Angular 12 project, which uses Webpack 5 by default, and follow the basic directions for installing Transloco and the Keys Manager:
1. `ng new test-app`
2. `ng add @ngneat/transloco` (accept de

[2021-07-06 15:00] brebaje commented on #78
+1

[2021-07-12 06:47] j0nm1 commented on #98
Hi, I'm encountering the same issue when updating to Angular 12. Is there any chance that this gets fixed/merged anytime soon?

[2021-07-12 11:50] JustinPierce commented on #98
As a workaround, you can copy the Webpack plugin source from this project into your own project and apply the fix to it (it's a one-line fix). Then, call your copy of the plugin directly from your Webpack configuration instead of the one bundled with the keys manager.

[2021-07-12 11:50] JustinPierce commented on #98
@j0nm1 As a workaround, you can copy the Webpack plugin source from this project into your own project and apply the fix to it (it's a one-line fix). Then, call your copy of the plugin directly from your Webpack configuration instead of the one bundled with the keys manager.

[2021-07-13 18:31] shaharkazaz commented on #98
@JustinPierce can you open a PR? 😄

[2021-07-13 18:33] #98 closed

[2021-07-13 18:39] shaharkazaz commented on #98
@JustinPierce @j0nm1  Released in v2.7.3, can you please verify? 🙂

[2021-07-14 00:03] JustinPierce commented on #98
@shaharkazaz I'm up and running on 2.7.3 and Webpack 5. Looking good!

[2021-07-14 07:46] j0nm1 commented on #98
I tested it as well and it works great. Thank you for the fast solution @shaharkazaz and @JustinPierce. 🎉

[2021-07-15 08:05] #95 closed

[2021-07-26 08:59] mkubdev commented on #90
Thanks!

[2021-07-26 09:45] mkubdev commented on #50
I have the same bug. I'm on angular12 and transloco 2.22.0 !

My template :
[code]
My translation file `en.json` :
[code]

I run `npm run i18n:extract` and i get the following result :

[code]

[2021-07-26 10:07] mkubdev opened #102 "Bug: duplicate keys with i18n:extract"
### Current behavior
The CLI cmd `i18n:extract` doesn't detect my translation.
Possible duplicate of #50 and #58, but it doesn't work for me.

### Expected behavior
I expect `i18n:extract` to detect my translation.

### Steps To Reproduce
My template :
[code]
My translation file `en.json` :
[code]

I run `npm run i18n:extract` and i get the following result :

[code]

### Keys manager config
No co

[2021-07-26 10:49] mkubdev commented on #102
Hum-hum, i missed the config option `keysManager.unflat = true` :

* transloco.config.js :
[code]

Everything is working now. :)

[2021-07-26 10:49] #102 closed

[2021-08-04 13:27] Serrulien opened #103 "false positive of prefix+marker(args) inside comments"
### Current behavior
My current marker is `t` (default value).
In one of my typescript file there is the comment:
[code]

`combineLastest(ERR) ` is detected as a marker and `ERR` is extracted as a key.
See that as prefix + marker(args) = combineLates + t(args).

### Expected behavior

Should extract the key when the marker is prefixed.

### Steps To Reproduce

In a file, write:

[code]

and run `t

[2021-08-04 21:26] Serrulien opened #105 "Incorrect matching of translation key when the binding attribute is preceded by an expression with a literal string"
### Current behavior

[code]

Both lines will output a translation key nammed `quz`.

### Expected behavior

Should output two translation keys nammed `key1` and `key2`.

### Steps To Reproduce

Nothing uncommon: create a blank angular project, add transloco and add the 2 lines in a html file.

### Environment
<pre><code>- Keys manager version: 2.7.4
- Node version: 14.17.3
- Platform: Windows
</c

[2021-08-27 03:22] seadonk opened #107 "Bug: Keys Extractor does not extract key arrays"
### Current behavior
A clear and concise description of what the bug is.
When using the selectTranslate override that accepts an array of keys, the keys manager will not recognize them.

### Expected behavior
When using the selectTranslate override that accepts an array of keys, before adding the keys to the i18n files, the keys manager should recognize, by adding them with the extract tool, or sh

[2021-08-31 13:37] steflen commented on #72
pls merge

[2021-09-02 21:01] Anatolie-Pesterean commented on #36
This plugin works fine for regular Angular apps.

But when I trying to use it in monorepo (NX), where angular.json does not exist, this default "src" value that you introduced just ruins everything.

How can I configure it for NX monorepo?

[2021-09-02 21:02] Anatolie-Pesterean commented on #36
This plugin works fine for regular Angular apps.

But when I trying to use it in monorepo (NX), where angular.json does not exist, this default "src" value that you introduced just ruins everything.

How can I configure it for NX monorepo?

[2021-09-07 10:09] micaminoff opened #108 "Add support in detective for including "Extra Keys" with --add-missing-keys"
### Is your feature request related to a problem? Please describe.
I'm changing the i18n implementation of a fairly large app and transloco has been great so far. I only have a slight issue with translation generation for dynamic keys.

The number of dynamic translations required is pretty big, and adding explicit comments with every key to the templates is rough. However, one of my translation fi

[2021-09-27 12:02] #77 closed

[2021-09-27 13:26] shaharkazaz commented on #84
@openscript Please feel free to share the results here 🙂

[2021-09-27 13:26] #84 closed

[2021-09-27 18:32] #79 closed

[2021-09-27 18:32] #83 closed

[2021-09-27 18:32] #87 closed

[2021-09-28 09:19] evanfuture opened #109 "Bug (v3) - normal angular pipes cause expressions to be skipped"
### Current behavior
In the case of an ngContent extraction, when there is a pipe, the extraction is skipped (this is in v3 with the new AST parser).  So, `{{ t('test string') | json }}` for example, will not extract the key `test string`

### Expected behavior
`{{ t('test string') | json }}` should extract the key `test string`.

### Steps To Reproduce
shown above

### Screenshots
n/a

### Keys m

[2021-09-28 18:41] #109 closed

[2021-10-01 12:55] shaharkazaz commented on #107
@seadonk will you be making a PR for it? 🙂

[2021-10-01 15:26] seadonk commented on #107
@shaharkazaz Yes I plan on it, got delayed with a new computer. I'll have to figure out the process for contributing as this will be my first one.

[2021-10-01 17:46] shaharkazaz commented on #107
Feel free to approach of you need assistance 😃

[2021-10-01 18:46] seadonk commented on #107
@shaharkazaz
* Do I need additional setup besides `npm install` for running tests? I just get `TypeError: string.replace is not a function
    at replacePathSepForRegex` when I try to run any test in the project.
* is there a guide for contributing?
* Do I need to run any of the scripts in package.json before the PR?

[2021-10-01 22:23] shaharkazaz commented on #107
There isn't any guide to contributing but I think that it's time to add one 😊

Basically all you need to run the build/tests is running `npm i` nothing else.

Contributing in a nut shell:
- Make the changes
- Add tests that cover the changes you made
- Commit by running `npm run commit`
- Open PR

Can you please post the call stack of the error? Do you get it after making changes?

[2021-10-02 15:01] shaharkazaz commented on #107
@seadonk did you manage? 🙂

[2021-10-02 15:06] shaharkazaz commented on #74
@heddendorp Can you please share a reproduction?

[2021-10-02 15:09] shaharkazaz commented on #80
Duplicate of #42

[2021-10-02 15:09] #80 closed

[2021-10-02 15:53] seadonk commented on #107
@shaharkazaz I did run `npm i`.
Two issues.
1. My environment does not know what PRODUCTION is, from the test script: `test: "PRODUCTION=true jest"`
`$ npm run test

'PRODUCTION' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @ngneat/transloco-keys-manager@3.0.1 test: `PRODUCTION=true jest`
npm ERR! Exit stat

[2021-10-02 16:04] shaharkazaz commented on #107
@seadonk I just did a fresh clone and it worked as expected.
What OS are you using? Windows or Linux?

[2021-10-02 16:27] shaharkazaz commented on #107
@seadonk Pull master and LMK if the issue is resolved 🙂

[2021-10-02 20:15] shaharkazaz commented on #92
@openscript Unlike template strings, if you want to access a form a specific scope (`login` in your case), you need to pass it as an option to the translation function and not prefix the key with it. see [Translation API](https://ngneat.github.io/transloco/docs/translation-api).

This is the correct form:
[code]

@MickL In your case, the keys manager can't resolve the value of the scope when not d

[2021-10-04 00:45] seadonk commented on #107
@shaharkazaz I am on windows.
I'm able to run the tests now, but the testRegex is not matching any tests.

If I remove the regex and allow jest to use the default regex: `**/__tests__/**/*.[jt]s?(x), **/?(*.)+(spec|test).[tj]s?(x)`, it will incorrectly pick up all .ts files in the __tests__ as tests. I've been having a lot of trouble with the Jest regexes in my other projects lately too.

This was

[2021-10-04 06:33] shaharkazaz commented on #107
@seadonk I don't mind this change as long as all the specs are running 🙂
So are you managing now?

[2021-10-04 15:20] seadonk commented on #107
I have the repo forked, changes made, tests written and passing.

When I run `npm run commit`, it is failing on Prettier, for lines that I did not modify. I'll see if I can get it running.

[2021-10-07 06:40] shaharkazaz commented on #107
@seadonk released in v3.0.2, nice work on the PR, hope to see you contributing again 🙂

[2021-10-07 06:40] #107 closed, assigned to nobody

[2021-10-07 06:43] shaharkazaz commented on #90
@fpmcguire51 So the issue is with the config generated by the CLI? is there a special structure to your project? can I reproduce this in a new Angular/NX workspace? (generated via their CLI)

[2021-10-07 06:44] shaharkazaz commented on #81
@seadonk Can you please share a small reproduction? would you like to make a PR for it? 🙂

[2021-10-07 19:57] seadonk commented on #81
@shaharkazaz
I was actually just looking into this. It seems to be failing in some of our libraries. In some cases it seems to be a scoping issue, in others not. If I can reproduce it, I'll create a repro, and attempt a PR.

[2021-10-07 21:09] seadonk commented on #81
The find command is not picking up the template keys from the libraries, and thus shows "gps" as an `Extra Key` and does NOT show "missing key" as a `Missing Key`.

Here are the two commands:
![image](https://user-images.githubusercontent.com/12240678/136462401-eda26f6f-52d2-47c0-9b38-35cfb51c2edd.png)

![image](https://user-images.githubusercontent.com/12240678/136462434-0f76d32e-57c1-42a7-b6c1-f

[2021-10-31 07:41] #72 closed

[2021-11-03 09:00] lukechi1219 commented on #90
@shaharkazaz I have this issue too.

For "transloco-keys-manager find" to work, I just change transloco.config.js

from rootTranslationsPath: 'src/assets/i18n/',

to rootTranslationsPath: 'assets/i18n/',

but I don't know whether there is any side effect...

Angular CLI: 12.2.8
Node: 14.18.0
Package Manager: npm 7.24.2
OS: win32 x64

reproduce steps

1. ng new angular-transloco
2. cd angular-trans

[2021-11-07 09:50] Serrulien opened #114 "Feature: find keys in arguments of pipes"
### Is there an existing issue for this?

No
- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

I frequently use the transloco pipe inside arguments of another pipe:
[code]
In v3.1.1, translation keys in pipes' args are not detected by the keys manager. I would like them to be detected.

### I would like to make a pull request for this fea

[2021-11-07 16:53] shaharkazaz commented on #114
Waiting to see your PR for it 😉

[2021-11-10 14:07] evanfuture opened #116 "Feature: Support Nx workspace.json version 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

When extracting, the lib tries to find the `projectBasePath` based on either angular.json or workspace.json configurations.  But when using the project.json format with workspace.json version 2, the workspace.json only contains a reference to the path to the pro

[2021-11-17 01:39] stewieoO opened #118 "Feature: Parent and ignore files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

So i have an idea but i'm not sure if it's something that is generally desired.

I am currently using ngx-translate and considering a migration to transloco.
However i am missing one feature that is very important to me.

I have my own angular fram

[2021-11-17 09:11] shaharkazaz commented on #118
@stewieoO If I understand correctly you are looking for some sort of "ignore key pattern", did I understand correctly?

[2021-11-17 11:13] stewieoO commented on #118
@shaharkazaz exactly.
In my example it's keys located in other json files.

[2021-11-17 11:39] shaharkazaz commented on #118
@stewieoO You are welcome to implement this feature 🙂  I can't say when this might be implemented.

[2021-11-17 13:24] #114 closed

[2021-11-17 19:14] stewieoO commented on #118
@shaharkazaz Right, that's all i wanted to know really.
If you guys had any big reasons for not adding this. Will do a PR then :)

[2021-11-18 09:14] shaharkazaz commented on #118
@stewieoO Just to make sure we understand each other, I'm talking about providing a regex/string pattern in the manager's config that when matched the key is ignored by the extractor/detective.
You can give more details about it if you have anything else in mind

[2021-11-18 16:46] stewieoO commented on #118
@shaharkazaz oh, no. I'm talking about providing paths to files that are structured just like the translation files.

ignore.json
[code]

Which would result in keys with the same path (labels.name, labels.profile) would not be extracted and written to the corresponding translation files.

[2021-11-19 11:53] shaharkazaz commented on #118
What's the advantage of providing a file over a regex? seems less flexible and more repetitive.

What do you mean by:

[2021-11-20 16:28] stewieoO commented on #118
@shaharkazaz As i explained in the initial comment, i want to merge translations when the app is loading them
[CustomTranslationLoader Gist](https://gist.github.com/stewieoO/7dd943f5fe1b71a4ee96dd1683078ca6)
For common used translations across multiple apps. So i would want to use those files for both merging them and using them to ignore keys during extraction.

The extractor would first look int

[2021-11-20 16:43] shaharkazaz commented on #118
@stewieoO can you make a small reproduction of your use case with Transloco?

[2021-11-20 18:16] stewieoO commented on #118
@shaharkazaz i'll do that yeah.

[2021-11-20 18:49] stewieoO commented on #118
https://github.com/stewieoO/transloco-whitelist-example
(Unfortunately i couldn't get the assets mapping to work in stackblitz)

The `node_modules_assets` folder is mapped in the angular.json to the `assets` folder.
In a real world application this would be something from a library like
[code]

This `default-en.json` is what i would want to use to ignore keys with the extractor.

[2021-12-03 15:44] joel31415 opened #119 "Bug: keys used in template contexts not detected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

A translation key is not detect when used by inside of an Angular template context.

Example:
[code]

[code]

### Expected behavior

The key manager recognizes the usage of the key and does not report it as an extra key

### Please provide a link to a minimal re

[2021-12-15 10:59] Alegiter opened #120 "Bug: Cannot destructure property 'name' of 'e.variables.find(...)' as it is undefined."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

I have Angular 11 project. I've been using transloco-keys-mahager 2.6.0 for a while.
And faced with problem that was solved in 3.0.2.

I updated to latest (3.2.0).
Used FIND
And got:
[code]

I checked versions from 3.0.0 to 3.2.0. All of them gave me this error.

[2022-01-06 04:18] guilhermetod commented on #71
A question here: shouldn't the validation part of this lib be put on [`transloco-validator`](https://www.npmjs.com/package/@ngneat/transloco-validator)?

I think more people may have this use case of "I don't want extract, I only want to validate my translation keys" and tbh I thought that the `validator` would do this when I first found out about it.

Maybe this separation would put each project

[2022-01-10 08:20] kekel87 opened #121 "Bug: transloco-keys-manager find cause terminal endless flood"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

When in launch `transloco-keys-manager find` in my project recently uupdate to angular 13.1.1 (from 13.0.2), it result of endless terminal flood with weird charactere.

It works correctly with Angular 13.0.2 !

<img width="924" alt="image" src="https://user-imag

[2022-01-10 16:57] shajz commented on #121
We could update the dependency to `cli-table` to 0.6.1 to fix the issue.
See https://github.com/cli-table/cli-table3/pull/251, they patched it.

[2022-01-10 16:59] jbchr commented on #81
I'm facing the same issue, did you find a solution @seadonk ?

[2022-01-19 18:59] EndyKaufman commented on #116
i want this feature :(

[2022-01-19 19:15] shaharkazaz commented on #116
@EndyKaufman Once the comments are fixed I'll merge & release ASAP

[2022-01-21 16:50] #116 closed

[2022-01-21 16:51] shaharkazaz commented on #116
@EndyKaufman Can you please verify v3.3.0?

[2022-01-21 16:55] EndyKaufman commented on #116
i try

[2022-01-21 18:05] EndyKaufman commented on #116
@shaharkazaz
not work, example repo https://github.com/EndyKaufman/new-nx-with-transloco-keys-manager
![image](https://user-images.githubusercontent.com/4127109/150577365-be4f9cc3-a5ed-4f0a-b622-75571e869b89.png)

[2022-01-21 19:38] shaharkazaz commented on #116
@EndyKaufman Found the issue, please check 3.3.1, add a test for this case as well 👍

[2022-01-21 19:51] shaharkazaz commented on #120
@Alegiter The reason that in v3, the keys manager depends on the Angular compiler is because of implementation changes within the library make it more stable by using AST instead of regexes which were hard to maintain.

You are welcome to investigate the issue and open a PR fix (if possible), but if you can't use the v3+, you are welcome to use v2+ until you upgrade to Angular v12+.

Of course, if

[2022-01-21 19:51] #120 closed

[2022-01-21 19:54] EndyKaufman commented on #116
cool!!!!!

extract work in this sample
![image](https://user-images.githubusercontent.com/4127109/150591413-72b28897-435d-49c5-b0e4-fb8b6b2bf4b2.png)

I don't use find but ran for test and got error
![image](https://user-images.githubusercontent.com/4127109/150591612-2b45041f-a288-40d9-9a81-f8f2b80bc354.png)

[2022-01-21 20:02] shaharkazaz commented on #116
@EndyKaufman The issue is with your transloco config, the Translations path shouldn't be absolute, it's relative to the src.
Change it to `assets/i18n` and it will work

[2022-01-22 08:31] #119 closed

[2022-01-22 08:33] shaharkazaz commented on #74
@heddendorp I suggest you update to the latest version and see if the issue persists.
If it does, please feel free to reopen once reproduction is provided 🙂

[2022-01-22 08:33] #74 closed

[2022-01-22 08:56] shaharkazaz commented on #90
The schematics are not part of this lib, fixed in this [commit](https://github.com/ngneat/transloco/commit/ce031c97da8fb9153e83422749484b3938082250)

[2022-01-22 08:56] #90 closed

[2022-01-22 08:57] shaharkazaz commented on #81
@jbchr You are welcome to provide a reproduction as well.

[2022-01-22 08:58] shaharkazaz commented on #81
@jbchr You are welcome to give it a shoot as well 🙂

[2022-01-22 20:38] shaharkazaz commented on #71
@guilhermetod The detective and the extractor share the same code, they belong in the same repo.

[2022-01-22 21:12] EndyKaufman commented on #116
it is not about this fix

it is about bad deps

![image](https://user-images.githubusercontent.com/4127109/150655628-8ec7b13d-66fb-4c85-8fd1-23a75f5ad128.png)

[2022-01-23 07:25] EndyKaufman opened #123 "Bug: nth-check Regular Expression Denial of Service (ReDoS)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

snyk detect bad deps https://security.snyk.io/vuln/SNYK-JS-NTHCHECK-1586032
@ngneat/transloco-keys-manager@3.3.1 › cheerio@1.0.0-rc.3 › css-select@1.2.0 › nth-check@1.0.2

Overview
Affected versions of this package are vulnerable to Regular Express

[2022-01-23 11:21] #123 closed

[2022-02-14 08:39] orestisioakeimidis commented on #45
@shaharkazaz I made a PR (https://github.com/ngneat/transloco-keys-manager/pull/124) for it. Make sure to have a look. Thanks!

[2022-03-01 07:56] julianpoemp opened #125 "auto updating of main translation entries in Nx project does not work"
I would like to use transloco-keys-manager in my angular projects. Each of the projects is a Nx mono repository. The problem: the auto-generation of translation entries doesn't work as expected: Only after a call of `npm start` the translation files are updated, but not while development. I followed the instructions and installed the package as follows:

(I created a minimal project for easier rep

[2022-03-10 08:58] jgilsaa opened #126 "Feature: Let findMissingKeys return missing and extra keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

Hi,

I'm trying to create a verification step as part of a CI pipeline to check if a PR has any missing or extra keys in the main translation file.

The key-detective seems to be doing all the legwork of extracting and comparing translations, but s

[2022-03-29 09:46] vshende2 opened #127 "Bug: transloco-keys-manager find not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

npm run i18n:find

 🕵 🔎  Starting Search For Missing Keys 🔍 🕵

- Extracting Template and Component Keys
C:\UI_POC\UI\node_modules\esquery\dist\esquery.min.js:1
.....
......
e [SyntaxError]: Expected " " or "]" but "c" found.
    at Object.parse (C:\UI_POC\UI\nod

[2022-03-29 10:14] shaharkazaz commented on #127
@vshende2 Please provide a reproduction.

[2022-03-30 12:01] HitomiTenshi commented on #127
I have a similar issue where it just outputs "Translations path provided doesn't exists!" even though the path exists.

The extract function works with the settings I have, only the find function doesn't work.

My config:

[code]

[2022-03-30 12:26] shaharkazaz commented on #127
@HitomiTenshi This isn't related to this issue. you are welcome to create a new issue and **provide a reproduction**, otherwise, it won't be resolved.

[2022-03-30 17:20] shaharkazaz commented on #127
@vshende2 Please run the command in [debug mode](https://github.com/ngneat/transloco-keys-manager#-debugging)

[2022-03-31 03:27] vshende2 commented on #127
@shaharkazaz I did  "i18n:extract": "set DEBUG=* & transloco-keys-manager extract",
        "i18n:find": "set DEBUG=* & transloco-keys-manager find"

 and it throw same error after below

🐞 DEBUG - Config:
   Default: {
     input: [ 'app' ],
     output: 'assets/i18n',
     langs: [ 'en' ],
     marker: 't',
     sort: false,
     defaultValue: undefined,
     replace: false,
     addMissingKeys:

[2022-03-31 05:58] shaharkazaz commented on #127
@vshende2 Please update the package to v3.3.5 and run: `set DEBUG=extraction & transloco-keys-manager extract` this should isolate the problematic file.
Seems like tsquery is failing there for some reason.

[2022-03-31 09:50] shaharkazaz commented on #127
@vshende2 Not sure I fully understood your issue, happy it's resolved.

[2022-03-31 11:46] vshende2 opened #128 "Bug: transloco-keys-manager find returns wrong missing and extra keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

{ provide: TRANSLOCO_SCOPE, useValue: 'home' }

HTML file: {{ t('home.page.title') }}
en.json: 'page.title': "Home"

transloco-keys-manager find  returns below result:
Extra Keys: page.title or Missing Key: home.page.title

### Expected behavior

Here scope is h

[2022-04-01 10:18] AbdealiJK opened #129 "Bug: Unable to find key in `{{ ('key' | transloco) + 'x' }}`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

When I have a template using `{{ ('LogIn' | transloco) + 'a' }}`
It is not detected by the `extract` command
When I use: `{{ ('LogIn' | transloco) }}` - it works

I was not able to create an easy minimal example, but I simply created a folder `transloco_testing`

[2022-04-01 10:26] AbdealiJK commented on #129
The workaround which I am using now is:
`{{ 'LogIn {{a}}' | transloco:{a: 'a'} }}`
And that works

But it would be great if the extract can handle this or show a warning in such cases so that it is clear that will not be extracted

[2022-04-01 10:44] AbdealiLoKo opened #130 "Bug: Entire HTML template ignored when key with `{{...}}` used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

When I was running `transloco-keys-manager extract` - I found that some of my .html files were being skipped and keys from those html files were not being extracted into my en.json file.

I tried a bunch of variations and finally found:

**Scenario 1**: Use tran

[2022-04-01 10:50] AbdealiJK commented on #130
Interestingly, this happens even when I use the directive `*transloco`:

**Scenario 5**: Use transloco directive + {{ in key
**Result**: 0 keys found ... expected 2 keys
[code]
<hr />

**Scenario 6**: Use transloco directive + {{ in key + without a hashmap as argument
**Result**: 2 keys found
[code]

[2022-04-01 15:28] shaharkazaz commented on #129
@AbdealiJK, I can add support for the case you are showing. But note that it's not the best practice for translations.

[2022-04-01 15:30] shaharkazaz commented on #130
@AbdealiJK Why would you use this convention? this is the first time I have seen someone defining keys that way.

[2022-04-01 15:34] shaharkazaz commented on #128
@vshende2 Please provide a reproduction link, take the time to create an example repo that shows cases of your issue, or alternatively open a PR to fix it. without providing the reproduction I won't fix this issue.

This is a mandatory field for a reason, opening an issue with "no-link" is not acceptable.

[2022-04-02 04:58] AbdealiJK commented on #129
@shaharkazaz completely agree. And I have moved such cases to use the argument approach.
But the only concern I have is that developers may make mistakes and nothing catches them other than a manual review.

So either:
 - An eslint rule to ensure we don't use this pattern
 - A warning from extract that this will not be extracted
 - Or let's just extract it and let developers figure out their best

[2022-04-02 06:58] shaharkazaz commented on #129
@AbdealiJK It's a good thing you migrate responsibly 👍
I agree that silently is not the way to go.
An Eslint rule seems like an interesting idea since you should insert dynamic values into the translation and enforcing It might be a good idea.

I think that ESlint and extraction are unrelated in the sense that Transloco **does** support this behavior so the extractor should pick up these cases and

[2022-04-03 00:46] AbdealiJK commented on #129
While I was looking into the AST parser for pipe.extractor - I found that this was not handling some other valid cases.

For example:
 - `{{ ('sep' | transloco) || ';' }}`
 - `{{ ('abc' | transloco).split('sep' | transloco) }}`

Will handle it in my PR

[2022-04-03 00:55] AbdealiJK commented on #130
I've explained why I define keys in https://github.com/ngneat/transloco/issues/555

[2022-04-05 05:15] #129 closed

[2022-04-05 05:57] vshende2 commented on #128
@shaharkazaz Sorry for that. Able to find out root cause. This issue occurs when we provide array to useValue:
 { provide: TRANSLOCO_SCOPE, useValue: ['home', 'common' ]}

'common' : if we want use keys from common (reusabale across app)  en.json which can be used in different modules

[2022-04-07 15:29] #45 closed

[2022-04-08 20:35] #128 closed

[2022-04-12 06:35] shaharkazaz commented on #130
@AbdealiJK Want to take this? 🙂

[2022-04-12 11:29] AbdealiJK commented on #130
@shaharkazaz I tried looking into it briefly - and I found that the issue was from the angular `parseTemplate`:
https://github.com/ngneat/transloco-keys-manager/blob/v3.4.1/src/keys-builder/template/utils.ts#L85

So, first issue I feel is that when `parseTemplate` has an error today - we are not showing that to the user currently and silently skipping it.

The error coming in was that the `{{` was

[2022-04-12 12:05] shaharkazaz commented on #130
@AbdealiJK Nice summary 🔥

I think you are correct and we need to inform you that a parsing error has occurred within a certain file and log it, but it should continue with the processing.

I don't have any objection to upgrading the compiler to v13.
If you do want to upgrade, I ask you to test the keys manager with the new compiler version in projects with older versions.
just to make sure there

[2022-04-27 09:25] Alegiter opened #132 "Feature: marker fn supports scope"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

There are situations when I can't use template translation. Also I need to use translation from one scope in other place. Translation API is good than used in one place. But I need little more flex.

### Describe the solution you'd like

`marker(ke

[2022-05-06 09:28] azenyem commented on #125
I do not use nx, but it does not work for me, either. But if I change the file node_modules/@ngneat/transloco-keys-manager/webpack-plugin/generate-keys.js as following, new keys will be added to the translation files in the development time as well, no need to restart ng:

1. after `generateKeys({translationPath:e,scopeToKeys:t,config:r}){` insert `e = "/your/absolute/path/src/assets/i18n";`
2. in

[2022-05-10 02:58] ecappa opened #133 "Bug: yarn i18n:extract -> TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

Yes

### Current behavior

Try to launch 'yarn i18n:extract', node crash with error - never did ever, never could work (tried w/ yarn and node run)
[code]

### Expected behavior

Should extract keys ??

### Please provide a link to a minimal reproduction of the bug

n/a

### Transloco Co

[2022-05-13 17:50] tleveque23 commented on #92
Ok, but how do you handle the use of PIPES in a template?
From the scope documentation:
{{ 'todos.title' | transloco }}

There is no way to specify the scope like in the translate methode call.

[2022-05-18 14:08] ecappa commented on #133
Do know why nobody else had this issue, I patched in https://github.com/ngneat/transloco-keys-manager/pull/134 the undefined received and now works fine.

[2022-05-26 08:15] #133 closed

[2022-05-27 09:01] akyrey opened #136 "Bug: Cannot read properties of undefined (reading 'split') from translationPath"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

Yes

### Current behavior

After uploading to transloco version 4.0.0, I was no longer able to use this library, getting the following error:

[code]
Opening a pull request to handle the problem

### Expected behavior

Shouldn't return an error and complete like it previously did

### Pl

[2022-05-30 20:38] kdraba opened #138 "Feature: "find" cli command should respect "langs" option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

The "find" CLI command can be used in an automated build process to verify the existence of all required translation keys in all language files. But the languages required to pass that verification, may differ for different build stages.

In an ear

[2022-06-20 14:17] votdev opened #140 "Bug: "extract --sort" not working when output is set to POT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

Running `transloco-keys-manager extract --sort` does not sort the keys in the output file.

The output looks like this for previously started project:
[code]

### Expected behavior

The keys/msgid should be sorted, e.g. like `ngx-translate-extract` is doing it.

[2022-06-22 12:48] bohndthi commented on #138
i am really looking forward to this!

[2022-07-19 06:44] jonathanwilke opened #141 "Feature: support Angular 14 inject()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

When using Angular 14 inject() to inject the TranslocoService, the extract and find commands don't work.

### Expected behavior

Should work with inject().

### Please provide a link to a minimal reproduction of the bug

https://stackblitz.com/edit/angular-ivy-m

[2022-07-19 07:20] jonathanwilke commented on #141
I am not an expert in tsquery, but I managed to match the injects with this query:

[code]

Maybe that's helpful.

[2022-07-19 10:45] shaharkazaz commented on #140
@votdev Please provide the expected result and the actual result. I don't understand the output you pasted.

[2022-07-19 13:04] shaharkazaz commented on #132
@Alegiter I'm not sure I fully understand what you mean here. can you please share an example?

[2022-07-24 18:05] votdev commented on #140
Sure.

The current output looks like this (taken from above):
[code]

The expected result is this when using the `--sort` option.

[code]

[2022-07-27 20:18] akyrey commented on #136
I'll try to create a reproduction!

[2022-08-03 14:52] FloNeu commented on #132
I was looking for this too... i am pretty sure he means he would like a way to use the marker function to scope the translation key and extract it into the scope-file (like marker( test1, admin ) -> creates the key in the admin-scope file)... right now when I use the marker function I can only put the keys in the top-level translation file, right? (at least I haven't found a way to do it otherwise

[2022-08-03 19:43] Alegiter commented on #132
@FloNeu, yes, it's exactly what I meant :)

[2022-08-09 09:28] christophbuehler commented on #132
Any workaround to achieve this?

[2022-08-09 13:50] christophbuehler commented on #132
The only thing missing are the typings. `marker('username', {}, 'scope')` already works!

[2022-08-16 15:24] FloNeu commented on #132
can you explain how you got that to work? i tried this with disabling
typechecking on method call you showed, but translations weren't but in
their own file based on scope parameter

Am Di., 9. Aug. 2022 um 15:50 Uhr schrieb Christoph Bühler <
***@***.***>:

[2022-08-19 06:26] #136 closed

[2022-08-19 06:29] shaharkazaz commented on #136
@akyrey Can you please verify that 3.4.2 solves your issue?

[2022-08-19 06:36] shaharkazaz commented on #140
@votdev so if I understand correctly it seems that the issue is occurring when using POT output format, can you confirm?

[2022-08-19 06:50] votdev commented on #140
Yes

[2022-08-19 10:59] emzet opened #143 "Feature: Add support for NO_COLOR env var"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

Please add support for `NO_COLOR` environment variable https://no-color.org/ to disable colorful output and emojis in console which does not support it. Also useful for CI environments. Currently there are hardcoded colors in source code:

https://

[2022-08-24 07:37] akyrey commented on #136
Sorry for the late response! Yeah, it's resolved! I tried it on different projects and everything is working fine! Thank you very much!

[2022-10-30 19:57] votdev opened #145 "Bug: transloco-keys-manager does not extract text from the attribute directive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is this a regression?

No

### Current behavior

The transloco-keys-manager tool seems not to extract text from the attribute directive. The structural directive works, but can't be used in some cases.

This is not working:
[code]

This is working:
[code]

### Expected behavior

I expect that the text `Logged

[2022-11-09 21:20] vkrol opened #146 "Feature: parse config files with comments and trailing commas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe

`@angular/cli` allows us to have comments and commas in the configuration files, but `transloco-keys-manager` uses `cosmiconfig` which uses a strict JSON parser that prohibits this.

### Describe the solution you'd like

Suggested solution: use the